<nav>
  <a routerLink="/preview" class="back__to__preview">Back to preview</a>
</nav>
<main>
  <div class="lists__container">
    <h3>Lists</h3>
    <app-add-to-list (OnAddToList)="addItemToLists($event)" [selectedList]="true"></app-add-to-list>
    <div class="lists">
      <app-list-item
        *ngFor="let list of lists"
        [newList]="list"
        [selectedListId]="selectedListId"
        (OnGetSelectedListId)="selectList($event)"
        (OnDeleteList)="deleteList($event)"
      >
    </app-list-item>
    </div>
  </div>
  <div class="tasks__container">
    <h3>Tasks</h3>
    <app-add-to-list (OnAddToList)="addItemToTasks($event)" [selectedList]="selectedListId"></app-add-to-list>
    <div class="tasks">
      <app-task-item
        *ngFor="let task of tasks"
        [newTask]="task"
        (OnMarkTaskAsDone)="markTask($event)"
        (OnEditTask)="changeTaskName($event)"
        (OnDeleteTask)="deleteTask($event)"
      >
      </app-task-item>
    </div>
  </div>
</main>