.title {
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back__to__preview {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  color: black;
  background-color: #eee;
  border-radius: 4px;
}

.back__to__preview:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

main {
    width: 100%;
    height: 500px;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border: 2px solid lightgray;
}
  
.lists__container {
    flex-grow: 1;
}
  
  .tasks__container {
    flex-grow: 3;
  }
  
  .lists,
  .tasks {
    width: 100%;
    height: 78%;
    overflow-y: auto;
    border: 1px solid lightgray;
  }
  