main {
  width: 100%;
  height: 500px;
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  border: 2px solid lightgray;
}

.lists__container {
  flex-grow: 1;
  border: 1px solid green;
}

.tasks__container {
  flex-grow: 3;
  border: 1px solid red;
}

.lists,
.tasks {
  width: 100%;
  height: 78%;
  overflow-y: auto;
  background-color: lightblue;
}
